<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Inec.StateMachine.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--время, в течении которого записи лежат в кеше в минутах-->
    <add key="ExpireTime" value="60"/>
    <!--время в течении которого проверяется валидность записей в кеше-->
    <add key="RefreshCache" value="10"/>
    <add key="PackageName" value="asguf2_pkg."/>
    <add key="IsTest" value="1"/>
    <!--Название организации заявителя-->
    <add key="NameApplicantOrganization" value="Название организации заявителя"/>
    <!--Фамилия И.О. заявителя-->
    <add key="ApplicantFIO" value="Фамилия И.О. заявителя"/>
    <!--Комментарий-->
    <add key="Comment" value="Комментарий"/>
    <!--Пометки-->
    <add key="Markups" value="Пометки"/>
    <!--почтовый индекс-->
    <add key="ZipCode" value="461535"/>
    <!--почтовый адрес-->
    <add key="MailingAddress" value="почтовый адрес"/>
    <!--телефон-->
    <add key="Phone" value="8(35336)33-1-97"/>
    <add key="Email" value="email@inec-as.ru"/>
    <add key="ServiceUrl" value="http://reonrest/spdservice/service.asmx"/>
    <add key="Rublicator" value="1478"/>
    <add key="Fls" value="12354"/>
  </appSettings>
  <connectionStrings>
    <add name="SPDConnectionString" connectionString="user id=izk_rsm_dev;password=izk_rsm_dev;data source=(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST = vostok.inecas.ru)(PORT = 1521))(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)))" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <applicationSettings>
    <Inec.StateMachine.Settings1>
      <setting name="ServiceUrl" serializeAs="String">
        <value>
          http://reonrest/spdservice/service.asmx
        </value>
      </setting>
    </Inec.StateMachine.Settings1>
  </applicationSettings>
</configuration>